.menu
{
    height: 100%;
    width: 200px;
    background-color: black;
    top: 0;
    left: 0;
    position: fixed;

}

.menu a
{
    color: white;
    padding: 16px;

}

.menu a:hover
{
    background-color: white;
    color: black;
}

.content
{
    margin-left: 200px;
    padding-left: 20px;
}

/*Ievades stilizēšana*/


